
input {
	width:100%;
	margin-top:10px;
	height:25px;
	line-height:25px;
	text-indent: 5px;
	box-sizing:border-box;
}

.list li {
	width:100%;
	padding:5px;
	background-color:#f8f8f8;
	border-bottom:1px #f1f1f1 solid;
	box-sizing:border-box;
}

.list li span {
	display:block;
	font-size:13px;
}

.list li span.name {
	float:left;
}

.list li span.phone {
	float:right;
}

.clearfix {
	clear:both;
}